.layout {
  display: flex;
  min-height: 100%;
  overflow: hidden;
}

.layout__content {
  height: 100%;
  width: 100%;
  padding: 32px 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 713px) {
  .layout {
    flex-direction: column;
  }
}
